@import "primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  font-family: "Sansation", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.color-overlay {
  background-color: #1d4b74;
  opacity: 0.9;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
}
.logo-img {
  max-height: 35px; /* Adjust height to fit navbar nicely */
  width: auto; /* Keep aspect ratio */
  object-fit: contain;
}
.bg-lighter {
  /* background-color: #efefef; */
  background: linear-gradient(to bottom, #efefef, #f5f5f5);
}
/* Style the input field */
.custom-search-input {
  border-radius: 10px !important;
  width: 180px;
  padding: 5px 5px 5px 30px !important; /* Add more padding on the left to account for the icon */
  font-size: 0.9rem; /* Keep font size small */
}

/* Style the icon */
.p-iconfield .pi-search {
  font-size: 0.9rem;
  margin-right: 0 !important; /* Remove margin-right to avoid pushing the icon */
  position: relative; /* Ensure the icon stays in its natural position */
}

/* Ensure the icon field container aligns properly */
.p-iconfield {
  position: relative; /* Ensure the icon and input are positioned relative to this container */
  display: flex;
  align-items: center;
}
.icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
}
.table-border {
  border-radius: 20px;
  border: 1px solid #d1d1d1;
  padding: 8px;
  /* background-color: #e8eaec; */
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* color: white; */
  text-align: center;
}

/* loader */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  backdrop-filter: blur(8px); /* blur effect */
  z-index: 1050; /* above most elements, like modals */
}
.input-select {
  width: 14rem !important;
  font-size: 0.9rem !important;
}
